<div class="row">
    <div class="span3">
        <a href="#">
            <img class="img-responsive" src="@Model.ImageUrl" alt="Image Source" height="200" width="200"/>
        </a>
    </div>
    <div class="span9">
        <h4>@Model.Title</h4>
        <p><i>@Model.DateAdded, @Model.AddedBy</i></p>
        <p><strong>@Html.Raw(HttpUtility.HtmlEncode(@Model.Body).Replace("\n", "<br/>"))</strong></p>
        <div class="row pull-right">            
            <a href="/Article/GetArticle?articleId=@Model.ArticleId">Read More</a>
        </div>
    </div>
</div>
<hr />