@model IEnumerable<AfterWorkTambayan.Web.Model.ListRestaurantsViewModel>

@{
    ViewBag.Title = "Restaurant Index Page";
}

@section Style
{
    <style type="text/css">       
        #outercontainer { position: relative; width: 100%; height: 400px; }
        #innercontainer { position: absolute; top: 30%; left: 20%; width: 70%; height: 100%; }    
    </style>
}

<div id="restaurant" class="span3" style="padding-right: 40px">
    <ul class="nav nav-list">
        <li class="nav-header"><i class="icon-home"></i>&nbsp;Restaurant</li>
        @{
            if (Model.Any())
            {
                <li class="active"><a href="#" data-category="listRestaurant" data-id="@Model.First().Id">@Model.First().Name</a></li>
            }
            int i = 0;
            foreach (var item in Model) {
                if (i++ > 0) {                
                    <li><a href="#" data-category="listRestaurant" data-id="@item.Id">@item.Name</a></li>  
                }         
            }
        }
        <li class="divider"></li>
        <li class="nav-header"><i class="icon-book"></i>&nbsp;Menu Category</li>
        <li><a href="#" data-category="menuAdmin">Menu Administration</a></li>
        <li class="divider"></li>
        <li class="nav-header"><i class="icon-user"></i>&nbsp;Employer Setup</li>
        <li class="divider"></li>
        <li class="nav-header"><i class="icon-plus-sign"></i>&nbsp;New Restaurant</li>
        <li><a href="#" data-category="addRestaurant">Add Restaurant</a></li>
        <li class="divider"></li>        
        <li>
            <a id="example" href="#" rel="popover">What's this?</a>
        </li>
    </ul>
</div>

<div id="divResult" class="span9">
   
</div>

<br />

<script type="text/javascript">
    var doAngularJSFix = @((ViewBag.DoAngularJSFix != null).ToString().ToLower());  
    var doAngularJSFixRestaurant =  '@ViewBag.DoAngularJSFixRestaurant';    
</script>  

@section Scripts {   
    @*@Scripts.Render("~/bundles/jqueryval") *@     
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> *@
    @*<script src="@Url.Content("~/Scripts/jquery.gomap-1.3.2.min.js")" type="text/javascript"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/bootbox.min.js")" type="text/javascript"></script>   
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>         
    <script src="@Url.Content("~/Scripts/Restaurant.js")" type="text/javascript"></script>    
}
